.box41{
  width: 100%;
  height: 450px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background-image: url("../../assets/Banner Image.svg");
}
.Description{
	justify-content: center;
	text-align: center; 
	gap: 20px;
}
.btns{
	display: flex;
	gap: 20px;
	justify-content: center;
}
.Description p{
	color: #525C60;
	font-weight: 400;
	font-size: 16px;
}