.box42{
  width: 100%;
  height: 450px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background-image: url("../../assets/Background.jpg");
}
.containerImg{
  padding: 80px 25px 25px 80px;
	width: 80%;
}
.containerText{
  padding: 0 270px 0 270px;
	text-align: start;
}
.boxCards{
  padding: 50px 270px 50px 270px;
	align-items: center;
}
.boxCard1{
	display: flex;
	gap: 40px;
}
.boxText1{
	padding: 75px 10px 60px 10px;
}
.boxText1 h3{
	color: #274C5B;
	font-weight: 500;
	font-size: 22px;
}
.boxText1 p{
font-weight: 400;
font-size: 16px;
line-height: 165%;
letter-spacing: 0%;
}
.boxCards h2{
	font-size: 35px;
}
.boxCards p{
font-weight: 400;
font-size: 18px;
line-height: 165%;
letter-spacing: 0%;

}
@media (max-width: 992px) {

  .box42{
    height: 320px;
    background-position: center;
    background-size: cover;
  }

  .containerImg{
    width: 100%;
    padding: 40px;
  }
	.containerImg img{
		width: 100%;
	}

  .containerText{
    padding: 0 60px;
  }

  .boxCards{
    padding: 40px 60px;
  }

  .boxCard1{
    flex-direction: column;
    gap: 30px;
  }

  .boxText1{
    padding: 30px 0;
  }

  .boxCards h2{
    font-size: 28px;
  }

  .boxCards p{
    font-size: 16px;
  }
}

@media (max-width: 600px) {

  .box42{
    height: 220px;
  }

  .containerImg{
    padding: 20px;
  }

  .containerText{
    padding: 0 20px;
    text-align: center;
  }

  .boxCards{
    padding: 30px 20px;
  }

  .boxCard1{
    flex-direction: column;
    gap: 20px;
  }

  .boxText1{
    padding: 20px 0;
  }

  .boxText1 h3{
    font-size: 18px;
  }

  .boxText1 p{
    font-size: 14px;
  }

  .boxCards h2{
    font-size: 22px;
  }

  .boxCards p{
    font-size: 14px;
  }
}
