:root {
  --color-primary: #274C5B;
  --color-secondary: #7EB693;
  --color-accent: #EFD372;
  --color-gray-light: #D4D4D4;
  --color-white-soft: #F9F8F8;
  --color-bg-light: #EFF6F1;
  --color-text-dark: #525C60;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn1{
  background-color: #274C5B;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 29px;
  color: #FFFFFF;
}
.btn2{
  background-color: #EFD372;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 29px;
  color: #274C5B;
}
.btn3{
  border: 1px solid #274C5B;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 29px;
  color: #274C5B;
}
.btn4{
  background-color: #274C5B;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 29px;
  color: #FFFFFF;
}