

.portfolio-container {
    flex-wrap: wrap;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 140px;
    max-width: 1200px;
    margin: 0 auto;
}
.card-image {
    width: 100%;
    height: 250px; 
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.card-image img {
    width: 100%;
    height: 100%;
}
.card-content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2c3e50;
    margin: 0 0 5px 0;
}
.card-content .category {
    font-size: 14px;
    color: #2ecc71;
    font-style: italic;
    font-weight: 500;
}
.box56{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("../../assets/Image\ \(12\).png");
    color: #274C5B;
}
.overlay{
    flex-wrap: wrap;
    width: 80%;
    height: 70%;
    background-color: rgb(255, 249, 249);
    opacity: 0;                
    visibility: hidden; 
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-icon{
    font-size: 40px;
    color: white;
    border:none;
    border-radius: 150px;
    background-color: #7EB693;
}
.port-card{
    position: relative;
}

.port-card:hover .overlay{
    opacity: 0.8;            
    visibility: visible;
}
@media (max-width:768px) {
    .portfolio-container{
        padding: 10px;
        justify-content: center;
    }
}