.NotFound{
	background-image: url(../../assets/notfound.svg);
	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 100px;
}

h2{
	color: #274C5B;
	font-size: 60px;
	font-weight: 750;
}
p{
	color: #525C60;
	font-size: 16px;
	font-weight: 600;
}
a{
	color: white;
	text-decoration: none;
}
